<h1>Listing porfolios</h1>

<table>
  <tr>
    <th>Profile</th>
    <th>Sf amount</th>
    <th>Sf price</th>
    <th>Monthly price</th>
    <th>Location</th>
    <th>Created on</th>
    <th>Updated on</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @porfolios.each do |porfolio| %>
  <tr>
    <td><%= porfolio.profile_id %></td>
    <td><%= porfolio.sf_amount %></td>
    <td><%= porfolio.sf_price %></td>
    <td><%= porfolio.monthly_price %></td>
    <td><%= porfolio.location %></td>
    <td><%= porfolio.created_on %></td>
    <td><%= porfolio.updated_on %></td>
    <td><%= link_to 'Show', porfolio %></td>
    <td><%= link_to 'Edit', edit_porfolio_path(porfolio) %></td>
    <td><%= link_to 'Destroy', porfolio, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Porfolio', new_porfolio_path %>
