<p id="notice"><%= notice %></p>

<p>
  <b>Profile:</b>
  <%= @porfolio.profile_id %>
</p>

<p>
  <b>Sf amount:</b>
  <%= @porfolio.sf_amount %>
</p>

<p>
  <b>Sf price:</b>
  <%= @porfolio.sf_price %>
</p>

<p>
  <b>Monthly price:</b>
  <%= @porfolio.monthly_price %>
</p>

<p>
  <b>Location:</b>
  <%= @porfolio.location %>
</p>

<p>
  <b>Created on:</b>
  <%= @porfolio.created_on %>
</p>

<p>
  <b>Updated on:</b>
  <%= @porfolio.updated_on %>
</p>


<%= link_to 'Edit', edit_porfolio_path(@porfolio) %> |
<%= link_to 'Back', porfolios_path %>
